body{
    background-color: var(--background);
}
:root {
  --text: #02020d;
  --background: #ffffff;
  --primary: #c74029;
  --secondary: #eef2f2;
  --accent: #2d72a4;
}

/* dark theme {
  --dark-text: #f2f2fd;
  --dark-background: #000000;
  --dark-primary: #d64f37;
  --dark-secondary: #0d1111;
  --dark-accent: #5ba0d2;
} */
